@model EmpresaLocalizacao.Models.Empresa

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<h2>Localização das Empresas</h2>

<div>
    @Html.Label("txtNome", "Nome:")
    @Html.DropDownList("Id", String.Empty)
</div>
<div>
    
</div>

<div>
    <input type="submit" value="Enviar" class="btn btn-default" />
</div>

